<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgzx.admin.mapper.BulkBuyRegisterMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xgzx.admin.entity.BulkBuyRegister">
		<id column="bulk_buy_register_id" property="bulkBuyRegisterId" />
		<result column="bulk_buy_id" property="bulkBuyId" />
		<result column="user_id" property="userId" />
		<result column="valid_tag" property="validTag" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bulk_buy_register_id AS bulkBuyRegisterId, bulk_buy_id AS bulkBuyId, user_id AS userId, valid_tag AS validTag, create_time AS createTime, create_user_id AS createUserId, update_time AS updateTime, update_user_id AS updateUserId
    </sql>

	<insert id="insertReturnId" parameterType="BulkBuyRegister" 
		useGeneratedKeys="true" keyProperty="bulkBuyRegisterId">
        INSERT INTO bulk_buy_register
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="null != bulkBuyRegisterId and '' != bulkBuyRegisterId">
			bulk_buy_register_id,
		</if>
        <if test="null != bulkBuyId and '' != bulkBuyId">
			bulk_buy_id,
		</if>
        <if test="null != userId and '' != userId">
			user_id,
		</if>
        <if test="null != validTag and '' != validTag">
			valid_tag,
		</if>
        <if test="null != createTime and '' != createTime">
			create_time,
		</if>
        <if test="null != createUserId and '' != createUserId">
			create_user_id,
		</if>
        <if test="null != updateTime and '' != updateTime">
			update_time,
		</if>
        <if test="null != updateUserId and '' != updateUserId">
			update_user_id,
		</if>
        </trim>
        
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="null != bulkBuyRegisterId and '' != bulkBuyRegisterId">
			${bulkBuyRegisterId},
		</if>
        <if test="null != bulkBuyId and '' != bulkBuyId">
			${bulkBuyId},
		</if>
        <if test="null != userId and '' != userId">
			${userId},
		</if>
        <if test="null != validTag and '' != validTag">
			${validTag},
		</if>
        <if test="null != createTime and '' != createTime">
			${createTime},
		</if>
        <if test="null != createUserId and '' != createUserId">
			${createUserId},
		</if>
        <if test="null != updateTime and '' != updateTime">
			${updateTime},
		</if>
        <if test="null != updateUserId and '' != updateUserId">
			${updateUserId},
		</if>
        </trim>
    </insert>

	<select id="selectList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT bulk_buy_register.*
		FROM bulk_buy_register bulk_buy_register
		WHERE bulk_buy_register.valid_tag = 1
		<if test="null != startTime and '' != startTime" >
			AND date(bulk_buy_register.create_time) &gt;= #{startTime}
		</if>
		<if test="null != endTime and '' != endTime" >
			AND date(bulk_buy_register.create_time) &lt; #{endTime}
		</if>
		<if test="null != orderSql and '' != orderSql" >
			ORDER BY ${orderSql}
		</if>
	</select>	
	
	<select id="selectByTime" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select * from bulk_buy_register 
		where valid_tag = 1
		and date_format(create_time, '%Y-%m') &gt;= #{startTime}
		and date_format(create_time, '%Y-%m') &lt;= #{endTime}
	</select>	
	
</mapper>
