<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgzx.admin.mapper.MemberTypeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xgzx.admin.entity.MemberType">
		<id column="member_type_id" property="memberTypeId" />
		<result column="member_type_name" property="memberTypeName" />
		<result column="period" property="period" />
		<result column="price" property="price" />
		<result column="order_no" property="orderNo" />
		<result column="description" property="description" />
		<result column="valid_tag" property="validTag" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_type_id AS memberTypeId, member_type_name AS memberTypeName, period, price, description, valid_tag AS validTag, create_user_id AS createUserId, create_time AS createTime, update_user_id AS updateUserId, update_time AS updateTime
    </sql>


	<select id="customQuery" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM MemberType MemberType
		WHERE MemberType.member_type_id = #{id}
	</select>	
</mapper>
