<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgzx.admin.mapper.TeacherMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xgzx.admin.entity.Teacher">
		<id column="teacher_id" property="teacherId" />
		<result column="teacher_name" property="teacherName" />
		<result column="image_url" property="imageUrl" />
		<result column="description" property="description" />
		<result column="phone" property="phone" />
		<result column="sex" property="sex" />
		<result column="birthday" property="birthday" />
		<result column="valid_tag" property="validTag" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        teacher_id AS teacherId, teacher_name AS teacherName, image_url AS imageUrl, description, phone, sex, birthday, valid_tag AS validTag, create_time AS createTime, create_user_id AS createUserId, update_time AS updateTime, update_user_id AS updateUserId
    </sql>


	<select id="customQuery" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM Teacher Teacher
		WHERE Teacher.teacher_id = #{id}
	</select>	
</mapper>
