<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgzx.admin.mapper.TransactionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xgzx.admin.entity.Transaction">
		<id column="transation_id" property="transationId" />
		<result column="user_id" property="userId" />
		<result column="type" property="type" />
		<result column="operation" property="operation" />
		<result column="number" property="number" />
		<result column="order_id" property="orderId" />
		<result column="pay_transaction_type" property="payTransactionType" />
		<result column="pay_transaction_id" property="payTransactionId" />
		<result column="src_user_id" property="srcUserId" />
		<result column="src_account_id" property="srcAccountId" />
		<result column="valid_tag" property="validTag" />
		<result column="create_time" property="createTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="update_time" property="updateTime" />
		<result column="update_user_id" property="updateUserId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        transation_id AS transationId, user_id AS userId, type, operation, number, order_id AS orderId, pay_transaction_type AS payTransactionType, pay_transaction_id AS payTransactionId, src_user_id AS srcUserId, src_account_id AS srcAccountId, valid_tag AS validTag, create_time AS createTime, create_user_id AS createUserId, update_time AS updateTime, update_user_id AS updateUserId
    </sql>


	<select id="customQuery" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM Transaction Transaction
		WHERE Transaction.transation_id = #{id}
	</select>	
	
	<select id="selectTransactionList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT t.*, u.nick_name as nickName
        FROM transaction t, user u
        WHERE t.valid_tag = 1
        AND t.user_id = u.user_id
		<if test="startTime != null and '' != startTime" >
			AND date(t.create_time) &gt;= #{startTime}
		</if>
		<if test="endTime != null and '' != endTime" >
			AND date(t.create_time) &lt; #{endTime}
		</if>
		<if test="userName != null and '' != userName" >
			AND u.user_name like concat(concat('%', #{userName}), '%')
		</if>
		<if test="nickName != null and '' != nickName" >
			AND u.nick_name like concat(concat('%', #{nickName}), '%')
		</if>
        ORDER BY t.create_time DESC
    </select> 
</mapper>
